html {
    height: 100%;
}

body {
    background-color: #F5F5F5;
    height: calc(100vh - 164px);
    font-family: 'Poppins', sans-serif;
}


#sale-link {
    color: #dc3545;
}

/* Banner */
#info-banner {
    background-color: #874558;
}

/* footer */
.font-black {
    color: #555555;
}

/* links */
.text-wrap {
    background-color: #F1E4E8;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

.btn-shop {
    background-color: #CEA1AE;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

/* a:hover,
a:active {
    background-color: #B36B80
} */

/* --- End Colot Palette--- */

/* carousel */
.car-title {
    text-decoration: none;
}

.carousel-img {
    /* position: absolute; */
    /* height: 730px; */
    /* top: 0;
    left: 0;
    min-width: 100%;
    max-width: none; */
}

/* footer */
.footer {
    background-color: #F1E4E8;
}

/* product detail page */
.section-holder {
    padding: 50px 10px;
}

.form-holder {
    max-width: 600px;
    margin: auto;
    padding: 60px 50px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
}

.form-holder-generic {
    max-width: 1000px;
}

.form-holder-lg {
    margin: auto;
    padding: 60px 50px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
}

.form-control {
    padding: 0rem 0.75rem;
}

/* sale page */
.strikethrough {
    text-decoration: line-through;
    color: #DB4437;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
}

.hero-font {
    font-family: 'Lora', serif;
}

.main-logo-link {
    width: fit-content;
}

/* .shop-now-button {
    background-color: transparent;
    min-width: 260px;
    color: #fff;
    border: 1px solid #fff;
    font-family: 'Poppins', sans-serif;
} */

.btn {
    border-radius: 0.25rem;
}

.btn-black {
    background: black;
    color: white;
    border-radius: 0.25rem;
}

.btn-outline-black {
    background: white;
    color: black !important;
    /* use important to override link colors for <a> elements */
    border: 1px solid black;
    border-radius: 0.25rem;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #fff;
    color: #222;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

.bg-black {
    background: #2c2c2b !important;
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: white;
    /* -1 makes it sit behind the content  */
    z-index: -1;
}

/* inversts the color of the badges when hovering over them */
a.category-badge>span.badge:hover {
    background: #212529 !important;
    color: #fff !important;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

/* Register page */

.register-container {
    padding: 50px 10px;
    width: 100%;
}

.signin-container {
    padding: 50px 10px;
    width: 100%;
}

/* ------------------------------- Product detail */

.wish-remove {
    cursor: pointer;
}

.product-name {
    font-size: 1.8rem;
}

.pricing {
    font-size: 1.6rem;
}

/* products page */

.card {
    width: 300px;
    border: 0;
    margin: auto;
    margin-bottom: 10px;
}

.card-img-product-detail {
    /* height: 400px; */
    width: 400px;
    border: 0;
    margin: auto;
    margin-bottom: 10px;
}

.card-img-top {
    width: 300px;
    height: 300px;
}

.card-title {
    font-size: 1.3rem;
}

/* bag */
/* .section-holder {
    padding: 50px 10px;
} */

/* .form-holder {
    max-width: 600px;
    margin: auto;
    padding: 60px 50px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
} */

/* ------------------------------- bootstrap toasts */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* Allauth form formatting */

.allauth-form-inner-content p {
    margin-top: 1.5rem;
    color: #6c757d;
}

.allauth-form-inner-content input {
    border-color: #000;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
    /* btn */
    display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #000;
    border: 1px solid #000;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {
    color: #fff;
    background-color: #222;
    border-color: #222;
}

.allauth-form-inner-content a {
    color: #17a2b8;
    /* text-info */
}


input[name='q']::placeholder {
    color: #aab7c4;
}

/* Product form  */

.btn-file {
    /* set overflow of span around file input */
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
}

/* Contact us form */
.contact-us {
    padding-top: 150px;
}

#mc_embed_signup form {
    padding: 0;
}


/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
        max-width: 100%;
        width: 80%;
    }


    .newsletter-container {
        max-width: 80%
    }

    .carousel-img {
        /* z-index: 1; */
        min-width: 100%;
        height: 700px;
        object-fit: cover;
    }

    .carousel {
        height: 800px;
    }

    .carousel-caption .btn {
        width: 20%;
    }

    .section-holder {
        padding: 50px 40px;
    }

}



/* fixed top navbar only on medium and up (ipad-pro) */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 160px;
    }

    .quantity-width {
        width: 50%;
    }

    .section-holder {
        padding: 50px 40px;
    }

    .carousel {
        height: 700px;
    }


    .contact-us {
        padding-top: 280px;
    }

    .message-container {
        top: 200px;
        right: 60px;
    }

    .products-container {
        width: 100vw;
    }

    .card {
        width: 18rem;
    }

    .container {
        width: 80%;
    }

    /* .form-holder {
        margin: auto;
        width: 100%;
        padding: 60px 50px;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;
        border-bottom-left-radius: 30px;
        box-shadow: 0px 2px 10px rgb(0 0 0 / 8%);
    } */

    .detail-section {
        width: 100%;
    }


}



/* pad the top a bit when navbar is collapsed on mobile (ipad)*/
@media (max-width: 991px) {
    .header-container {
        padding-top: 88px;
    }

    body {
        height: calc(100vh - 116px);
    }

    .quantity-width {
        width: 60%;
    }

    .message-container {
        top: 95px;
        right: 50px;
    }

    #mc_embed_signup_scroll {
        padding-left: 30px
    }

}

/* --- Greater than 576px --- */
@media screen and (max-width: 576px) {
    .container {
        max-width: 100%;
    }

    .card-img-top {
        width: 280px;
        height: 280px;
    }

    .quantity-width {
        width: 80%;
    }


    /* .message-container {
        top: 95px;
        right: 20px;
    } */
}

/* SMALL SCREEN (iphone6) */
@media screen and (max-width: 481px) {
    h1 {
        font-size: 1.6rem;
    }

    h2 {
        font-size: 1.4rem;
    }

    h3 {
        font-size: 1.2rem;
    }

    h4 {
        font-size: 1.1rem;
    }

    .product-name {
        font-size: 1.6rem;
    }

    .pricing {
        font-size: 1.3rem;
        /* padding-left: 71px; */
    }

    /* .bag-buttons {
        ppadding: 0 131px 5px 20px;
    } */

    .dropdown-menu {
        font-size: 0.8rem;
    }

    .message-container {
        top: 95px;
        right: 20px;
    }

    .btn-shop {
        font-size: 60%;
        padding: 6px;
    }

    .carousel-caption h3 {
        font-size: 95%;
    }

    .car-cat {
        padding-top: 11px;
    }

    /* .carousel-caption h3 {
        font-size: 80%;
    } */

    /* --- Product detail page --- */
    .card-img-product-detail {
        height: 300px;
        width: 300px;
    }

    .quantity-width {
        width: 70%;
    }

    .register-container {
        padding: 10px;
    }

    .product-details {
        padding: 50px 10px;
    }

    /* .form-holder {
        padding: 30px 52px 60px 20px;
    } */

    .signin-container {
        padding: 0;
    }

    /* X-SMALL SCREEN (iphone5) */
    @media (max-width: 320px) {
        .fixed-top {
            padding-right: 0;
        }

        .container {
            max-width: 100%;
        }

        .card-img-top {
            width: 200px;
            height: 200px;
        }

        .dropdown-menu {
            font-size: 0.7rem;
        }

        .message-container {
            top: 75px;
            right: 20px;
        }

        .product-container {
            margin-left: 0;
        }

        .carousel-caption h3 {
            font-size: 70%;
        }

        .car-cat {
            padding-top: 10px;
        }


        .register-container {
            padding: 0;
        }

        .signin-container {
            padding: 0;
        }

        .mobile-login {
            padding: 0px 60px 20px 40px;
        }

        .forgot {
            text-align: center;
        }

        .form-holder-lg {
            padding: 0;
        }


        /* --- Product detail page --- */

        .card-img-product-detail {
            height: 200px;
            width: 200px;
        }

        .quantity-width {
            width: 80%;
        }

        .product-details {
            padding: 50px 10px;
        }

        .image-container {
            padding-left: 33px;
        }
    }

    /* ----- End of Media Queries ----- */