    <!-- the main-nav id matches the id of the toggle button in the base templates  -->
    <div class="collapse navbar-collapse" id="main-nav">
        <ul class="navbar-nav w-auto mx-auto">
            <!-- home -->
            <li class="nav-item">
                <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'home' %}" id="home-link">
                    Home
                </a>
            </li>
            <!-- All products dropdown menu  -->
            <li class="nav-item dropdown">
                <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'products' %}" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    All Products
                </a>
                <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                    <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                    <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                    <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                    <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
                </div>
            </li>
            <!-- Shop dropdown menu  -->
            <li class="nav-item dropdown">
                <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="shop-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Shop
                </a>
                <div class="dropdown-menu border-0" aria-labelledby="shop-link">
                    <a href="{% url 'products' %}?category=necklaces,rings,earrings,bracelets,gift_cards" class="dropdown-item">View all</a>
                    <a href="{% url 'products' %}?category=necklaces" class="dropdown-item">Necklaces</a>
                    <a href="{% url 'products' %}?category=rings" class="dropdown-item">Rings</a>
                    <a href="{% url 'products' %}?category=earrings" class="dropdown-item">Earrings</a>
                    <a href="{% url 'products' %}?category=bracelets" class="dropdown-item">Bracelets</a>
                    <a href="{% url 'products' %}?category=gift_cards" class="dropdown-item">Gift Cards</a>
                </div>
            </li>
            <!-- About dropdown menu  -->
            <li class="nav-item dropdown">
                <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="about-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    About
                </a>
                <div class="dropdown-menu border-0" aria-labelledby="about-link">
                    <a href="{% url 'contact' %}?category=contact" class="dropdown-item">Contact Us</a>
                    <a href="{% url 'products' %}?category=faq" class="dropdown-item">FAQ</a>
                    <a href="{% url 'products' %}?category=care_instructions" class="dropdown-item">Care Instructions</a>
                    <a href="{% url 'products' %}?category=returns" class="dropdown-item">Returns</a>
                </div>
            </li>

            <!-- Sale dropdown menu  -->

            <li class="nav-item">
                <a class="logo-font font-weight-bold nav-link text-black" href="{% url 'sale_items' %}" id="sale-link" aria-haspopup="true" aria-expanded="false">
                    Sale
                </a>
            </li>
        </ul>
    </div>