{% extends 'base.html' %}
{% load static %}

{% block extra_title %}Contact Us{% endblock %}

{% block content %}

<div class="overlay"></div>
<div class="row justify-content-center main-container contact-us px-3">
    <div class="contact col-12 col-md-10 col-xl-8 col-xxl-6 mx-auto">
        <h1 class="page-title">Contact Us</h1>
        <hr class="page-title-hr">
        <div class="row">
            <div class="col-12 mt-3 pb-5">
                <p class="mb-4">We would love to hear from you and promise to answer all questions and requests promptly. Fill in the form below to contact us!</p>
                <form action="{% url 'contact' %}" method="POST">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button id="submit-button" class="btn btn-info">Send</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}