{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-contianer">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h2 class="page-heading">Edit a product review</h2>
            <h3> Updating review for: {{ review.product.name }} </h3>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <form method="POST" action="{% url 'edit_review' review.product.id %}" class="form mb-2">
                {% csrf_token %}
                {% for field in form %}
                {{ field | as_crispy_field }}
                {% endfor %}
                <div class="text-right">
                    <a class="btn back-to-product text-uppercase" href="{% url 'product_detail' review.product.id %}">Back to product</a>
                    <button class="edit-product-review text-uppercase" type="submit">Update Product Review</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}